*{
    padding: 0;
    margin: 0;
    color: #000;
  }
  
  .Main {
    background-color: #60a9f2;
    padding: 0 3px;
  }
  
  .Gallery__title{
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    font-weight: 300;
  }
  
  .Gallery__header {
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
    
  }
  
  .Gallery__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    grid-auto-flow: dense;
    grid-gap: 3px;
  }
  
  .Gallery__container > .Gallery__item {
    background-color: #90c3f9; 
    
  }
  
  .Gallery__img {
    background-color: #ffffff;
    width: inherit;
    height: 100%;
  }

  .Square {
    grid-column: span 1;
    grid-row: span 1;
  }

  .SquareBig {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .Portrait {
    grid-row: span 2;
  }

  .PortraitBig {
    grid-row: span 3;
    grid-column: span 2;
  }
  
  .Landscape {
    grid-column: span 2;
  }

  .LandscapeBig {
    grid-column: span 3;
    grid-row: span 2;
  }